.container1{
    background: rgb(223,255,216);
    background: linear-gradient(90deg, rgba(223,255,216,1) 0%, rgba(180,228,255,1) 100%);
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container1 h3{
    margin-bottom: 0;
    width: 98.7vw;
}

.elements{
    display: flex;
    align-items: center;
    margin-top: 0;
}

.element-1{
    margin-left: 30px;
    margin-right: 30px;
}

.element-2{
    margin-right: 30px;
}

.element-3{
    margin-right: 30px;
}

.element-4{
    margin-right: 30px;
}

.element-4 h4{
    width: 100px;
}

button{
    background-color: rgb(134, 71, 71) !important;
    margin-right: 1rem;
    margin-left: 1rem;
}

.add{
    background-color: #1A5F7A !important;
}